@charset "UTF-8";
* {
	font-family: 'Patua One', cursive;
	margin: auto;
}

.container {
	background: url(../../img/banner2.jpg) no-repeat center center fixed;
    background-color: #222222;
    background-blend-mode: lighten;
}

/* center main div */
.all-33 {
	color: #DDDDDD;
	background-color: rgba(150,150,150,0.9);
	width: 1000px;
}

#header {
	height: 140px;
	text-align: center;
	padding: 20px;
}

#headertitle {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 20px;
	text-align: center;
	font-size: 40px;
}

#resulterror {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-style: italic;
	text-align: center;
	font-size: 24px;
	height: 50px;
}

#col1 {
	font-size: 20px;
	width: 450px;
	float: left;
	padding: 40px 0px 40px 40px;
}

.field {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

textarea {
	width: 450px;
	resize: vertical;
	max-height: 320px;
}

#col2 {
	width: 440px;
	float: right;
	padding: 20px 20px 10px 0px;
}

.autocomplete {
	color: #CA9A0C;
	position: relative;
	display: inline-block;
}

.submit {
	text-align: center;
	clear: both;
	padding-top: 30px;
	padding-bottom: 90px;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: black;
	color: #ffffff;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: black !important;
	color: #ffffff;
}

#map {
	width: 360px;
	height: 460px;
}